/* Setting up global box-sizing: border-box; see https://css-tricks.com/box-sizing/ */
html {
    background: url(images/old-1130745_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
