@import url('https://fonts.googleapis.com/css?family=Handlee');

html {
    box-sizing: border-box;
    color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Handlee', cursive, serif;
    padding: 2em 1em;
}

/*------------------------------------
    HEADER STYLING
-------------------------------------*/
header {
    padding-bottom: 2em;
}
header h1 {
    font-size: 4em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: #E1D7D1;
    text-shadow: 3px 3px 3px #1C1109;
}

/*------------------------------------
    NAVIGATION STYLING
-------------------------------------*/
nav {
    font-size: 1.4em;
    width: 180px;
    margin-right: 2em;
    float: left;
}

nav ul {
    list-style: none;
}

nav ul li {
    text-decoration: none;
    color: #DBD0C9;
    text-shadow: 2px 2px 4px #1A1007;
    padding-bottom: .5em;
}

.submenu {
    padding-left: 2em;
}

nav a {
    text-decoration: inherit;
    color: #DBD0C9;
}

nav a:hover {
    text-decoration: inherit;
    color: #1A1007;
    text-shadow: 1px 1px 1px #DBD0C9;
    font-weight: bold;
}

/*------------------------------------
    MAIN CONTENT STYLING
-------------------------------------*/
main {
    width: 95%;
    margin: 0 auto;
}

main section {
    margin: 0 auto;
    overflow: auto;
    padding: 1em;
}
