/*
 THIS STYLESHEET ADDS STYLING SPECIFIC FOR THE PHOTOS PAGES.
 */
html {
    background: url("../images/old-1130730_1920.jpg") no-repeat center center fixed;
    background-size: cover;
}

div {
    display: inline-block;
    width: 450px;
    height: 450px;
}

/*------------------------------------
    PHOTOGRAPH STYLING
-------------------------------------*/
.photograph {
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
}

.portrait {
    height: 400px;
    position: relative;
    top: 50px;
    left: 90px;
}

.landscape {
    width: 400px;
    position: relative;
    left: 25px;
}
