@import url('https://fonts.googleapis.com/css?family=Courgette');

html {
    background: url("../images/old-1130730_1920.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: "Courgette", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-bottom: 2em;
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
}
header h1 {
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: #dddedd;
    text-shadow: 2px 2px 4px #141414;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
    padding: 0 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: .5em;
}

nav ul {
    list-style: none;
    padding-bottom: 1em;
    padding-left: 1em;
}

nav li {
    display: inline-block;
    padding-right: 1.3em;
}

nav a {
    color: white;
    text-decoration: none;

}

nav a:hover {
    color: red;
}


main {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    padding: 1em;
    width: 90%;
    margin: 0 auto;
}

main section {
    padding-top: 2em;
    overflow: auto;
}

article p {
    padding-bottom: 2em;
    line-height: 1.2;
    font-size: 1.1em;
}

.floatleft {
  float: left;
  margin: 0 1em 1em 0;
}

.floatright {
    float: right;
    margin: 0 0 1em 1em;
}

.polaroid {
    width: 40%;
    padding: 15px 15px 50px 15px;
    background-color: white;
    box-shadow: 10px 10px 5px #333333;
}
}

#map {
    width: 40%;
    padding: 15px 15px 50px 15px;
}
