html {
    background: url("../images/old-1130730_1920.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    max-width: 1200px;
    margin: 0 auto;
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
}
header h1 {
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: #dddedd;
    text-shadow: 2px 2px 4px #141414;
}

header nav {

}

main {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    padding: 1em;
}

section {
    overflow: auto;
}

article p {
    line-height: 1.2;
    color: #241F1A;
}

article h2 {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 0.4em;
    color: #5C4E43;
    text-shadow: 1px 1px 1px #141414;
}

.floatleft {
  float: left;
}

.floatright {
    float: right;
}

.polaroid {
    border: 2px dotted green;
    margin: 2em;
    width: 40%;
    padding: 15px 15px 50px 15px;
    background-color: white;
}
