/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------------*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/*----------------------------------------------------------*/

.container {
    border: 2px solid orange;
}

.leftContainer {
    padding: 1em;
    float: left;
    width: 50%;
    border: 2px dotted blue;


}

.leftContainer p {
    margin: 2em;
    padding: 1.5em;
    background-color: lightblue;
}

.rightContainer {
    padding: 1em;
    float: right;
    width: 50%;
    border: 2px dotted green;
}

.rightContainer p {
    padding: 1.5em;
    background-color: lightgreen;
}

.clear {
	clear: both;
}

/*----------------------------------
  Navigation styles */

  nav {
      font-size: 1.2em;
      font-weight: bold;
      width: 70%;
      float: left;
  }

  nav ul {
      padding: 0;
      margin: 0;
      list-style-type:  none;
      text-align: right;
 }

nav li {
    display: inline-block;
}

header {
    overflow: auto;
    background-color: green;
}

header h1 {
    font-size: 1.3em;
    font-weight: bold;
    width: 30%;
    float: left;
}
